<html>
	<head>
		<title><%= title %></title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div>
			

			<a href="/" class="nav">Home</a> | 
			<a href="/videojuegos/add" class="nav">Agregar Videojuego</a> | 
			<a href="/videojuegos" class="nav">Todos los videojuegos</a>

		</div>	