
<%- include ('../layouts/header.ejs') %>	


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
  
      <!-- Login Form -->
      <form action="/login" method="POST">
        <input type="text" id="login" class="fadeIn second" name="user" placeholder="Nombre de usuario">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="contraseña">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  

  
    </div>



  <%- include ('../layouts/footer.ejs') %>