<div>
    <h3>Bienvenido</h3>
    <form action="/login" method="POST">
      <div className="form-group"> 
        <label>Nombre de usuario:</label>
        <input  type="text" required name="user"/>
      </div>
      <div className="form-group"> 
        <label>Contraseña:</label>
        <input  type="password" required name="password"/>
      </div>    
      <div className="form-group">
        <input type="submit" value="Iniciar sesión" className="btn btn-primary" />
      </div>
    </form>
  </div>